<div class="container-fluid parallax" id="main">
  <div id="text-container">
    <h1>Our Beliefs</h1>
    <div id="content">
        <h3>THE BIBLE</h3><p>
          We believe the Holy Scriptures of the Old and New Testament to be the inspired, inerrant, and
          infallible Word of God.</p>
        <h3> GOD</h3><p>
          We believe that there is one God, eternally existent in three persons; God the Father, God the
          Son, and God the Holy Spirit.</p>
        <h3>
          REPENTANCE</h3><p>
          We believe the only means to be saved from sin is through faith in Jesus Christ; His death,
          burial, and resurrection.</p>
        <h3> SANCTIFICATION</h3><p>
          We believe in a distinct moment of sanctification that commences an ongoing process of yielding
          to God’s Word and His Spirit in order to complete development of Christ’s character in us.</p>
        <h3>
          HOLY SPIRIT</h3><p>
          We believe in the baptism of the Holy Spirit as described in the Bible; it is the promise of the
          Father, to empower the life of the believer and the church. We believe the utterances of tongues
          to be the nominal occurrence of spirit baptism.</p>
        <h3> HEALING</h3><p>
          We believe the healing of the sick is illustrated in the life and ministry of Jesus, and included in
          the commission of Jesus to His disciples.</p>
        <h3>  THE BLESSED HOPE</h3><p>
          We believe in the blessed Hope, which is the rapture of the Church of God, which is in Christ, at
          His return.</p>
      </div>
  </div>
</div>