
    <!-- Start Nav Backed Header -->
    <div class="nav-backed-header parallax" style="background-image:url('images/gallery/camera.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ol class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li class="active">Media</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- End Nav Backed Header --> 
    <!-- Start Page Header -->
    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>Home</h1>
          </div>
          <!-- <div class="col-md-6">
            <div class="gallery-filter">
              <ul class="nav nav-pills sort-source">
                <li [class.active]="mediaFilter=='*'"><a (click)="filterMedia('*')"><i class="fa fa-th"></i> <span>Show All</span></a></li>
                <li [class.active]="mediaFilter=='sermon'"><a (click)="filterMedia('sermon')"><i class="fa fa-bullhorn"></i> <span>Sermons</span></a></li>
                <li [class.active]="mediaFilter=='video'"><a (click)="filterMedia('video')"><i class="fa fa-play"></i><span>Video</span></a></li>
                <li [class.active]="mediaFilter=='slideshow'"><a (click)="filterMedia('slideshow')"><i class="fa fa-camera"></i><span>Slideshow</span></a></li>
                <li [class.active]="mediaFilter=='graphic'"><a (click)="filterMedia('graphic')"><i class="fa fa-picture-o"></i><span>Graphics</span></a></li>              
              </ul>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- End Page Header --> 
      <!-- Start Content -->
      <div class="main" role="main">
        <div id="content" class="content full">
          <div class="container">
            <div class="row">
              <!-- Start Featured Blocks -->
              <!-- <div class="featured-blocks clearfix">
                <div class="col-md-4 col-sm-4 featured-block"> <a href="/events" class="img-thumbnail"> <img src="images/sermon/sundayFlyer.jpg" alt="staff"> <strong>Upcoming Events</strong> <span class="more">read more</span> </a>                </div>
                <div class="col-md-4 col-sm-4 featured-block"> <a href="/coming-soon" class="img-thumbnail"> <img src="images/sermon/2.jpg" alt="staff"> <strong>New Here</strong> <span class="more">read more</span> </a>                </div>
                <div class="col-md-4 col-sm-4 featured-block"> <a href="/media" class="img-thumbnail"> <img src="images/sermon/3.jpg" alt="staff"> <strong>Sermons Archive</strong> <span class="more">read more</span> </a>                </div>
              </div> -->
              <!-- End Featured Blocks -->
            </div>
            <div class="spacer-50"></div>
            <div class="padding-tb45 lgray-bg featured-sermon">
              <div class="container">
                <h3>Latest Video</h3>
                <div class="row">
                  <div class="col-md-5">
                    <iframe width="400" height="250" src="https://player.vimeo.com/video/224146915"></iframe>
                  </div>
                  <div class="col-md-7">
                    <span class="date">Jul 1, 2017</span>
                    <div class="spacer-20"></div>
                    <h4><a href="single-sermon.html">New Birth Bible Fellowship One Year Celebration</a></h4>
                    <p>This past July New Birth Bible Fellowship celebrated 1 full year of ministry in the Raleigh area! Our church started as a campus ministry in 2010 at N.C. A&T State University. We became an established church only July 1st, 2016. </p>
                    <div class="spacer-20"></div>
                    <!-- <div class="sermon-actions"> <a href="#" data-placement="top" data-toggle="tooltip" data-original-title="Video"><i class="fa fa-video-camera"></i></a><a href="#" data-placement="top" data-toggle="tooltip" data-original-title="Audio"><i class="fa fa-headphones"></i></a>                    <a href="#" data-placement="top" data-toggle="tooltip" data-original-title="Read online"><i class="fa fa-file-text-o"></i></a>                    <a href="#" data-placement="top" data-toggle="tooltip" data-original-title="Download PDF"><i class="fa fa-book"></i></a>                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Featured Gallery -->
      <div class="featured-gallery">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <h4>Recent Photos</h4>
              <a href="https://www.facebook.com/mynbbf/" target=" _blank" class="btn btn-default btn-lg">New Birth on Facebook</a> </div>
            <div class="col-md-3 col-sm-3 post format-image"> <a href="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="images/gallery/prayer3.jpg" alt=""> </a></div>
            <div class="col-md-3 col-sm-3 post format-video"> <a href="http://youtu.be/NEFfnbQlGo8" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="images/gallery/prayer2.jpg" alt=""> </a>            </div>
            <div class="col-md-3 col-sm-3 post format-image"> <a href="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="images/gallery/prayer.jpg" alt=""> </a></div>
          </div>
        </div>
      </div>
      <!-- End Featured Gallery -->