.video-parent{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.text-overlay{
    display: table;
    position: absolute;
    text-align: center;
    left: 0;
    z-index: 900;
    width: 100%;
    height: inherit;
    vertical-align: middle;
    background-color: rgba(13, 59, 216, 0.35);
    /* background-color: black; */
}

.text-overlay h1{
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 600%;
}

.sqs-background-background{
    width: 100%;
    height:inherit;
    z-index:2 !important; 
    overflow: hidden;
}

.bottom-half{
    background-color: rgba(0,0,0,0.4);
    background-image: url("../../../images/service.png");
    /* position: relative; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */

    height: 80vh;
    width: 100%;
    display: table;
}

.bottom-half-text{

    display: table-row;
    vertical-align: middle;
    padding: 5%;
    text-align: left;

}

.bottom-half-pictures{

    display: table-row;
    vertical-align: middle;
    padding-right: 5%;
    text-align: right;

}

.bottom-half-text h2,.bottom-half-pictures h2{

    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 300%;

}

.bottom-half-text .btn{

    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 100%;

}

.text-overlay #mob-header{

    display: none;

}

@media only screen and (max-width : 480px) {
    .padding-25{
        padding: none;
    }

    .service-info{
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        color: white;
        font-size: 150%;
    }
    
}

@media only screen and (min-width : 480px) {
    .padding-25{
        padding-top: 25px;
        padding-bottom:25px;
    }

    .service-info{
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        color: white;
        font-size: 250%;
    }
    
}

.service-time{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: white;
    font-size: 150%;
}

.watch-latest{
    position: absolute;
    margin-top: 250px;
    text-align: center;
    width: 100%;
    z-index: 950;
}

@media only screen and (max-width : 992px) {
.sqs-video-background{

        display: none;

}

.video-parent{

    background-image: url("../../../images/canva-photo-editor.png");
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;

}

.text-overlay{

    background-color: rgba(88, 120, 228, 0.87);

}

.text-overlay #mob-header{

    display: table-cell;
    vertical-align: middle;
    color: white;

}

.text-overlay #mob-header h1{
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-size: 250%;
    padding-left: 5%;
    padding-right: 5%;

    }

    .text-overlay #mob-header a{

        text-decoration: none;
    }
}