    <!-- Start Hero Slider -->
    <div class="slider-rev-cont">
      <div class="tp-banner-container">
        <div class="tp-banner">
          <ul style="display:none;">
            
            <!-- SLIDE
            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide 1">
              <!-- MAIN IMAGE
              <img src="images/canva-photo-editor.png" alt="fullslide1" data-bgposition="center" data-bgfit="cover" data-bgrepeat="no-repeat">
              <!-- LAYERS

              <!-- LAYER NR. 1
              <div class="tp-caption largewhitebg customin ltl tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="-34"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="500" data-start="2000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
                data-elementdelay="0.08" data-endelementdelay="0.08" data-end="8000" data-endspeed="500" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">Welcome
              </div>

              <!-- LAYER NR. 2
              <div class="tp-caption boldwide_small_white randomrotate customout tp-resizeme" data-x="center" data-hoffset="0" data-y="center"
                data-voffset="38" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="500" data-start="3000" data-easing="Power3.easeInOut" data-splitin="chars" data-splitout="chars"
                data-elementdelay="0.08" data-endelementdelay="0.08" data-end="6500" data-endspeed="500" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">New Birth Bible Fellowship
              </div>

              <!-- LAYER NR. 3
              <div class="tp-caption mediumwhitebg sfl stl tp-resizeme" data-x="235" data-y="357" data-speed="300" data-start="4600" data-easing="Power3.easeInOut"
                data-splitin="none" data-splitout="none" data-elementdelay="0.08" data-endelementdelay="0.08" data-end="7500"
                data-endspeed="300" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">Save
              </div>

              <!-- LAYER NR. 3
              <div class="tp-caption mediumwhitebg sfl stl tp-resizeme" data-x="435" data-y="357" data-speed="300" data-start="5100" data-easing="Power3.easeInOut"
              data-splitin="none" data-splitout="none" data-elementdelay="0.08" data-endelementdelay="0.08" data-end="7500"
              data-endspeed="300" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">Change
            </div>

              <!-- LAYER NR. 5
              <div class="tp-caption mediumwhitebg sfr str tp-resizeme" data-x="635" data-y="357" data-speed="300" data-start="5600" data-easing="Power3.easeInOut"
                data-splitin="none" data-splitout="none" data-elementdelay="0.08" data-endelementdelay="0.08" data-end="8000"
                data-endspeed="300" style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">Transform
              </div>
            </li>
            <!-- SLIDE 
            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide 2">
              <!-- MAIN IMAGE
              <img src="images/gallery/homepage2.jpg" alt="fullslide1" data-bgposition="center top" data-bgfit="cover"
                data-bgrepeat="no-repeat">
              <!-- LAYERS

              <!-- LAYER NR. 1
              <div class="tp-caption large_text randomrotate tp-resizeme" data-x="100" data-y="200" data-speed="300" data-start="500" data-easing="Power3.easeInOut"
                data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-end="3000"
                data-endspeed="300" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">Love God
              </div>

              <!-- LAYER NR. 2
              <div class="tp-caption large_text randomrotate tp-resizeme" data-x="100" data-y="259" data-speed="300" data-start="800" data-easing="Power3.easeInOut"
                data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-end="4000"
                data-endspeed="300" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">Love his Creations
              </div>

              <!-- LAYER NR. 3
              <div class="tp-caption randomrotate customout tp-resizeme" data-x="100" data-y="330" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="300" data-start="1100" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
                data-elementdelay="0.1" data-endelementdelay="0.1" data-end="5000" data-endspeed="300" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;"><a href='/media' class='btn btn-primary btn-lg' style="color:#fff;">Sermons</a>
              </div>
            </li>
          </ul>
          <div class="tp-bannertimer" style="display:none;"></div>
        </div>
      </div>
    </div>
    <!-- End Hero Slider -->
    <!-- Start Notice Bar -->
    <!-- <div class="notice-bar latest-sermon">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-4 hidden-xs">
            <h3><i class="fa fa-microphone"></i> Latest Sermon</h3>
          </div>
          <div class="col-md-7 col-sm-8 col-xs-12">
             <audio class="audio-player" src="audio/Miaow-02-Hidden.mp3" type="audio/mp3" controls></audio>
          </div>
          <div class="col-md-2 hidden-sm hidden-xs">
            <a href="/media" class="btn btn-block btn-primary">Sermons</a>
          </div>
        </div>
      </div>
    </div> -->
    <!-- End Notice Bar -->
    <!-- Start Content -->
    <div class="main" role="main">
      <div id="content" class="content full">
        <div class="container">
          <div class="row">
            <!-- Start Featured Blocks -->
            <!-- <div class="featured-blocks clearfix">
              <div class="col-md-4 col-sm-4 featured-block"> <a href="/events" class="img-thumbnail"> <img src="images/sermon/sundayFlyer.jpg" alt="staff"> <strong>Upcoming Events</strong> <span class="more">read more</span> </a>                </div>
              <div class="col-md-4 col-sm-4 featured-block"> <a href="/coming-soon" class="img-thumbnail"> <img src="images/sermon/2.jpg" alt="staff"> <strong>New Here</strong> <span class="more">read more</span> </a>                </div>
              <div class="col-md-4 col-sm-4 featured-block"> <a href="/media" class="img-thumbnail"> <img src="images/sermon/3.jpg" alt="staff"> <strong>Sermons Archive</strong> <span class="more">read more</span> </a>                </div>
            </div> -->
            <!-- End Featured Blocks -->
          </div>
          <div class="spacer-50"></div>
          <div class="padding-tb45 lgray-bg featured-sermon">
            <div class="container">
              <h3>Latest Video</h3>
              <div class="row">
                <div class="col-md-5">
                  <iframe width="400" height="250" src="https://player.vimeo.com/video/224146915"></iframe>
                </div>
                <div class="col-md-7">
                  <span class="date">Jul 1, 2017</span>
                  <div class="spacer-20"></div>
                  <h4><a href="single-sermon.html">New Birth Bible Fellowship One Year Celebration</a></h4>
                  <p>This past July New Birth Bible Fellowship celebrated 1 full year of ministry in the Raleigh area! Our church started as a campus ministry in 2010 at N.C. A&T State University. We became an established church only July 1st, 2016. </p>
                  <div class="spacer-20"></div>
                  <!-- <div class="sermon-actions"> <a href="#" data-placement="top" data-toggle="tooltip" data-original-title="Video"><i class="fa fa-video-camera"></i></a><a href="#" data-placement="top" data-toggle="tooltip" data-original-title="Audio"><i class="fa fa-headphones"></i></a>                    <a href="#" data-placement="top" data-toggle="tooltip" data-original-title="Read online"><i class="fa fa-file-text-o"></i></a>                    <a href="#" data-placement="top" data-toggle="tooltip" data-original-title="Download PDF"><i class="fa fa-book"></i></a>                    </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Start Featured Gallery -->
    <div class="featured-gallery">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <h4>Recent Photos</h4>
            <a href="https://www.facebook.com/mynbbf/" target=" _blank" class="btn btn-default btn-lg">New Birth on Facebook</a> </div>
          <div class="col-md-3 col-sm-3 post format-image"> <a href="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="images/gallery/prayer3.jpg" alt=""> </a></div>
          <div class="col-md-3 col-sm-3 post format-video"> <a href="http://youtu.be/NEFfnbQlGo8" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="images/gallery/prayer2.jpg" alt=""> </a>            </div>
          <div class="col-md-3 col-sm-3 post format-image"> <a href="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="images/gallery/prayer.jpg" alt=""> </a></div>
        </div>
      </div>
    </div>
    <!-- End Featured Gallery -->