<div class="video-parent" id="video-parent">
    <div class="text-overlay"><div id="mob-header"></div></div>
    <video  
    class="video-js" 
    data-setup='{"autoplay": true, "loop": true, "preload": "auto", "fluid": true, "muted": true }' 
    poster="../../../images/canva-photo-editor.png"
    >
      <source src="../../../assets/new-web-vid.mp4" type="video/mp4">
        <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="http://videojs.com/html5-video-support/" target="_blank">
      supports HTML5 video
    </a>
  </p>
    </video>
        <div class="watch-latest">
<!--          <h1 class="service-info" style="color:white;">Watch The Latest Sermon</h1>
          <div><img width="70px" src="../../../images/gallery/wellness.jpg" /></div>-->
          <div><a href="/media" role="button"><button class="btn btn-lg">Watch The Latest Sermon</button></a></div>
        </div>
  </div>
  <!-- The bottom half of the page under the video -->
  <div class="bottom-half parallax padding-25">
    <div class="bottom-half-text">
      <div style="width:100%;margin:auto;text-align:center;">
        <p class="service-info" style="padding-top:55px">Sunday Service</p>
        <p class="service-time">11:30am</p>      
        <a href="https://goo.gl/maps/QQWKqro2oko" target=" _blank"><i class="fa fa-map-marker" style="font-size:1.5em; color:white;" aria-hidden="true"><span style="font-family:'Raleway', sans-serif;"> 601 E. Six Forks Road, Raleigh, NC</span></i></a>
      </div>
      <div style="width:100%;margin-left:auto;margin-right:auto;text-align:center;margin-top:55px">
        <p class="service-info">Tuesday Night Bible Study</p>
        <p class="service-time">8:00pm</p>      
        <i class="fa fa-map-marker" aria-hidden="true" style="font-size:1.5em; color:white;"><span style="font-family:'Raleway', sans-serif;"> Facebook Live</span></i>
      </div>
    </div>
    <div style="width:100%;text-align:center;justify-content:center;"> 
      <div style="display:table-cell;width:25vw"><a href="https://www.facebook.com/mynbbf" target="_blank"><i class="fa fa-facebook" style="font-size:3em;color:white;"></i></a></div> 
      <div style="display:table-cell;width:25vw"><a href="https://twitter.com/mynbbf" target="_blank"><i style="font-size:3em;color:white;" class="fa fa-twitter"></i></a></div>
      <div style="display:table-cell;width:25vw"><a href="https://www.youtube.com/channel/UCMgBQjWhlIEVGGb2yXRcy2g" target="_blank"><i style="font-size:3em;color:white;" class="fa fa-youtube"></i></a></div>
      <div style="display:table-cell;width:25vw"><a href="https://www.instagram.com/mynbbf" target="_blank"><i style="font-size:3em;color:white;" class="fa fa-instagram"></i></a></div>
    </div>
    <div style="display:table-row;text-align:center;justify-content:center;">
      <div style="display:table-cell;width:100%;padding-top:10px;">
        <a href="/about-us" style="color:white;" role="button"><button class="btn btn-secondary btn-lg" style="background-color:white !important">More About Us</button></a>    
      </div>
    </div>    
      <!-- <div class="bottom-half-pictures"> 
    </div> -->
  </div>