<!-- <!DOCTYPE HTML>
<html class="no-js"> -->
<body>
  <!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
  <div class="body">
    <!-- Start Site Header -->
    <header class="site-header" style="z-index:1000 !important; position: relative">
      <div class="topbar">
          <div class="container">
            <div class="row">
              <!-- <div class="col-md-4 col-sm-6 col-xs-8"> -->
                <div><a href="index.html"><img class="padding-15" src="images/nblogo_white.png" width="150px" alt="Logo"></a></div>
                <div class="main-menu-wrapper" style="margin-left:50px;">
                    <!-- <div class="container"> -->
                      <!-- <div class="row"> -->
                        <!-- <div class="col-md-12"> -->
                          <nav class="navigation">
                            <ul class="sf-menu">
                              <li><a href="/">Home</a></li>
                              <li><a href="/about-us">About</a></li>
                              <li><a href="/what-to-expect">Experience</a></li>
                              <li><a href="/get-involved">Volunteer</a></li>
                              <li><a href="/media">Media</a></li>
                              <li><a href="https://mynbbf.churchcenteronline.com/giving" target="_blank">Give</a></li>
                              <li><a href="/events">Events</a></li>                
                              <li><a href="/coming-soon">Visit</a></li>
                            </ul>
                          </nav>
                        <!-- </div> -->
                      <!-- </div> -->
                    <!-- </div> -->
                  </div>
                  <div class="visible-sm visible-xs menu-toggle" style="display:inline-block" onclick="dropDownTheMenu()"><i class="fa fa-bars"></i></div>                                          

              <!-- </div> -->
              <!-- <div class="col-md-8 col-sm-6 col-xs-4"> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
    </header>
    <!-- End Site Header -->
    <router-outlet></router-outlet>
    <!-- Start Footer -->
    <footer class="site-footer" style="color:grey;">
      <div class="container">
        <div class="row">
          <!-- Start Footer Widgets -->
          <div class="col-md-4 col-sm-4 widget footer-widget">
            <h4 class="footer-widget-title">Connect With Us</h4>
            <img src="images/nblogo1.png" alt="Logo">
            <div class="spacer-20"></div>
            <p>Looking for a church in the Raleigh area? Interested in joining a church that is looking to Save Souls, Change
              Lives, and Transform Communities? New Birth is for you! Come join us on Sundays for worship and online for
              Bible Study!</p>
          </div>
          <div class="col-md-4 col-sm-4 widget footer-widget">
            <h4 class="footer-widget-title">Blogroll</h4>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="about.html">About Us</a></li>
              <li><a href="/what-to-expect">What to Expect</a></li>
              <li><a href="/get-involved">Get Involved</a></li>
              <li><a href="/media">Media</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-4 widget footer-widget">
            <h4 class="footer-widget-title">Our Church on twitter</h4>
            <a class="twitter-timeline" data-height="200" data-link-color="#A2CD35" href="https://twitter.com/mynbbf">Tweets by MYNBBF</a>
            <!-- </ul> -->
            <!-- </ul> -->
          </div>
        </div>
      </div>
    </footer>
    <footer class="site-footer-bottom">
      <div class="container">
        <div class="row">
          <div class="copyrights-col-left col-md-6 col-sm-6"></div>
          <div class="copyrights-col-right col-md-6 col-sm-6">
            <div class="social-icons"> 
              <a href="https://www.facebook.com/mynbbf" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/mynbbf"target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="https://www.youtube.com/channel/UCMgBQjWhlIEVGGb2yXRcy2g" target="_blank"><i class="fa fa-youtube"></i></a>
              <a href="https://www.instagram.com/mynbbf" target="_blank"><i class="fa fa-instagram"></i></a>        
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
    <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>
  </div>
</body>
<!-- </html> -->