@import url('https://fonts.googleapis.com/css?family=Cantata+One|Fjalla+One|Montserrat|Raleway');

/*.jumbotron{
    height: 100vh;
    width: 100%;*/
/*text-align: center;*/
/*    color: white;
    background: linear-gradient(rgba(164,204,65, 1), rgba(164,204,65, 0.5)),
    url('../../../images/gallery/whattoexpect.jpg');
    background-size: 100% 100%;
    display: table;
}
.jumbotron h1{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 500%;
}*/
.inside h2,.btn{

  font-family: 'Cantata One', serif;

}

.row.expect{

  width: 100%;
  margin: 0px;
  text-align: center;

}

.wte,
.da,
.sunday,
.ns{

  width: 100%;
  display: table;
  height: 50vh;
  text-align: center;

}

.da,
.ns{

  color: white;
  background-color: #A4CC41;

}

.ns{

  margin-bottom: 2%;

}

.inside{

  display: table-cell;
  vertical-align: middle;

}

.outside-table{

  display: table-cell;
  vertical-align: middle;


}

.inside p,.inside ul,#about-pastor p{

  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Raleway', sans-serif;

}

/*@media only screen and (min-width : 992px) {
.jumbotron{
    background:*/
/* top, transparent red, faked with gradient */
/*    linear-gradient(
      rgba(164,204,65, 1),
      rgba(164,204,65, 0.5)
    ),*/
/* bottom, image */
/*    url("../../../images/gallery/whattoexpectvid.gif");
    background-size: 100% 100%;
}
}*/

.video-parent{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../../images/gallery/abouttop.jpg");
  background-size: 100% 100%;
}

.text-overlay{
  display: table;
  position: absolute;
  text-align: center;
  left: 0;
  z-index: 900;
  width: 100%;
  height: inherit;
  vertical-align: middle;
  background-color: rgba(47, 61, 123, 0.64);;
  /* background-color: black; */
}

.text-overlay h1, .text-overlay h3{
  display: table-cell;
  vertical-align: middle;
  color: white;
  /*font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 500%;*/
  /* font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 500%;
    text-transform: uppercase;*/
      font-family: 'Montserrat', sans-serif;
  font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-size: 400%;
    padding-left: 10%;
    padding-right: 10%;
}

img{

  animation-name: top-image;
  animation-duration: 2s;

}

.sqs-background-background{
  width: 100%;
  height:inherit;
  z-index:2 !important;
  overflow: hidden;
}

.bgimg-1, .bgimg-2, .bgimg-3{
  position: relative;
  opacity: 0.6;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("http://via.placeholder.com/350x150");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../../../images/aboutpastor.png");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../../../images/gallery/beliefs.jpg");
  min-height: 400px;
}

.bgimg-4 {
  
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../../../images/gallery/aboutbottom2.jpg");
  height: 130vh;
  width: 100%;
  display: table;
  
  /*min-height: 400px;*/
}



/*.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}*/

h3{
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #ddd;
}

li
{
  background-repeat: no-repeat;
  background-position: 100% .4em;
  padding-right: .6em;
  margin: 1em 0;
}



.square-container{

  height: 100%;
  /*width: 100%;*/
  text-align: center;
  color: white;
      font-family: Open Sans;
    font-weight: 600;
    font-style: normal;
    font-size: 150%;
    letter-spacing: .03em;
    line-height: 1.6em;
    padding-top: 5%;
    display: table-cell;
    vertical-align: middle;

}

.square-container h1,#about-pastor h2{

    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 350%;
}

.square-container h1{

    color: white;

}

#about-pastor h2{

  color: black;

}

.col-md-6{

  height: 50vh;
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
  
}

.bgimg-4 .square-container .row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.square-container #top,.square-container #bottom{

  width: 100%;

}

/*.square-container #top #story{

  background-color: red;

}

.square-container #top #vision{

  background-color: blue;

}

.square-container #bottom #beliefs{

  background-color: white;

}

.square-container #bottom #ministries{

  background-color: green;

}
*/
.btn{

  color: white;
  background-color: transparent;
  border: 2px solid white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .5em;

}

#mob-div{

  display: none;

}

.btn:hover{

  color: black;
  background-color: white;

}

#about-pastor{

  height: 80%;
  width: 100%;
  background-color: white;
  margin: 0 0 0 0;
  padding: 0px;
  color: black;
  text-align: center;
  display: table;

}

#about-pastor .outer-div{

  display: table-cell;
  vertical-align: middle;

}

#about-pastor p{

  font-size: 145%;

}

#about-pastor h2{

  font-size: 500% !important;

}

#about-pastor-content{

  /*padding-top: 5%;*/

}

#about-pastor img{

  max-height: 100%;
  border-radius: 50%;

}

#about-pastor-mob,#about-pastor-mob-2{

  display: none;

}

/*mobile stuff
all goes under here*/
@media only screen and (max-width : 992px) {
.square-container{

        display: none;

}

.video-parent{
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background-image: url("../../../images/gallery/abouttop.jpg");
  background-size: 100% 100%;
}

.text-overlay{

  height: 80vh;

}

.text-overlay h1{

  padding-top: 4%;
  font-size: 200%;

}

.bgimg-4{

  height: 80vh;

}

#mob-div{

  display: table-cell;
  vertical-align: middle;
  text-align: center;

}

.bgimg-4 .row1,.bgimg-4 .row2,.bgimg-4 .row3,.bgimg-4 .row4{

  height: 20vh;
  display: table;
  margin: 0 !important;
  padding-bottom: 0 !important;
  width: 100%;

}

.bgimg-4 .row1,.bgimg-4 .row3{

  background-color: white;

}

.bgimg-4 .row1 h1,.bgimg-4 .row3 h1{

  color: black !important;

}

#mob-div a{

  text-decoration: none;

}

#mob-div h1{

  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .3em;
  font-size: 150%;

}

#about-pastor{

  display: none;

}

#about-pastor-mob,#about-pastor-mob-2{

  display: unset;
  margin: 0 0 0 0;
  color: black;
  background-color: white;
  height: 60vh;
  width: 100%;
  text-align: center;
  clear: both !important;
  display: block !important;

}

#about-pastor-mob-2 .col-md-6 h2{
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 300%;
    color: black;
}

#about-pastor-mob-2 p{

  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Raleway', sans-serif;
  color: black;

}

}