<div class="video-parent">
  <div class="text-overlay"><h1><strong>If anyone be in Christ, they are a new creature.<br></strong></h1></div>
  <div class="parallax">
    <!--<img class="custom-fallback-image parallax" src="../../../images/gallery/about_us.jpg">-->
  </div>
</div>
  <div class="bgimg-4">
      <div class="row" id="row1">
      <div class="col-md-12" id="mob-div"><a href="/vision"><h1>Our Vision</h1></a></div>
      </div>
      <div class="row">
      <div class="col-md-12" id="mob-div"><a href="/story"><h1>Our Story</h1></a></div>
      </div>
      <div class="row">
      <div class="col-md-12" id="mob-div"><a href="/beliefs"><h1>Our Belief</h1></a></div>
      </div>
      <div class="row">
      <div class="col-md-12" id="mob-div"><a href="/get-involved"><h1>Our Ministries</h1></a></div>
      </div>

    <div class="square-container">
      <div class="row" id="top">
        <div class="col-md-6" id="vision"><h1>Our Vision</h1><p>The vision of New Birth is to develop a multi-ethnic body of disciples, Saved, Sanctified, and Spirit Filled, prepared to execute the great commission through word and deed.</p>
        <a href="/vision" role="button"><button class="btn btn-secondary btn-lg">Mission/Vision</button></a>
        </div>
        <div class="col-md-6" id="story"><h1>Our Story</h1><p>New Birth began on the campus of North Carolina A&T State University, Greensboro NC, 2010 under the leadership of Brent Murphy. God led him to Raleigh, NC. On June 19, 2016 New Birth Bible Fellowship officially planted and launched in Raleigh, NC.</p>
        <a href="/story" role="button"><button class="btn btn-secondary btn-lg">Our Story</button></a>
        </div>
      </div>
      <div class="row" id="bottom">
        <div class="col-md-6" id="beliefs"><h1>Our Beliefs</h1><p>We believe in God the Father, Jesus the son, and the Holy Ghost.</p><a href="/beliefs" role="button"><button class="btn btn-secondary btn-lg">Beliefs</button></a></div>
        <div class="col-md-6" id="ministries"><h1>Our Ministries</h1><p>We have many dynamic ministries that function to save souls, change lives, and transform communities.</p><a href="/get-involved" role="button"><button class="btn btn-secondary btn-lg">Learn More</button></a></div>
      </div>
    </div>
  </div>
