<!-- Start Nav Backed Header -->
<!-- <div class="nav-backed-header parallax" style="background: #30292F;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">About Us</li>
        </ol>
      </div>
    </div>
  </div>
</div> -->
<!-- End Nav Backed Header -->
<!-- Start Page Header -->
<!--<div class="jumbotron" >
  <div class="container outside-table">
    <h1><strong>We Love You</strong> Here</h1>
  </div>
</div>-->
<div class="video-parent">
  <div class="text-overlay"><h1><strong>Save.  Change.  Transform. </strong></h1></div>
  <div class="parallax">
    <img class="custom-fallback-image parallax" src="../../../images/gallery/about_us.jpg">
  </div>
</div>
<!-- End Page Header -->
<!-- Start Content -->
<div class="container-fluid">
  <div style="color: #ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">The Story Unfolds</h3>
    <p>New Birth began on the campus of North Carolina A&T State University, Greensboro NC, 2010 under the leadersihp of Brent Murphy. Commencing in Barbee Hall lounge, the group grew from 8 to 72 in a matter of a few weeks as they met on Sunday evenings for bible study. After a few monthsm the ministry stopped. <br><br>

      During the summer of 2011, God spoke to Pastor Murphy urging him to go back and put his hands to the plow. In November 2011 the ministry rekindled and took on the name; New Birth. This time the ministry not only offered bible study, but worship esperiences as well. Barbee Hall Lounge could no longer hold all of the people that were connecting with New Birth thus making a larger space necessary. Proctor Hall auditorium became the new gathering place of the ministry. <br><br>

      In 2016, Pastor Murphy, who had just graduated, prayed and fasted about what God was leading him to do with the ministry. Upon following the voice of God, he planted New Birth Campus Ministry as a new church. God led him to Raleigh, NC. On June 19, 2016 New Birth Bible Fellowship officially planted and launched in Raleigh, Nc.<br><br>

      Since the formation of New Birth, God has allowed numerous souls to be saved, changed, and trasnformed which still stands as the primary mission of our existence in Raleigh. We look to continue our efforts through outreach programs, community collaborations, worship, and scriptural teaching.</p>
  </div>

  <div class="bgimg-2">
    <div class="caption">
      <span class="border" style="background-color:transparent;font-size:40px;color: #f7f7f7;text-shadow: 2px 2px 8px #000000; padding: 10px">OUR PASTOR</span>
    </div>
  </div>
  <div style="position:relative;">
    <div style="color: #ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
      <p> Pastor Brent Murphy is the founder and pastor of New Birth Bible Fellowship Church based in Raleigh, NC. He holds a Bachelors of Arts in History and Philosophy from the illustrious North Carolina Agricultural and Technical State University.

        He is currently studying to receive his master of divinity from Duke University Divinity School, Durham, NC. Pastor Brent is Saved, Sanctified, and Holy Ghost Filled, and licensed through the United Holy Church of America, Inc.</p>
    </div>
  </div>
  <div class="bgimg-3">
    <div class="caption">
      <span class="border" style="background-color:transparent;font-size:40px;color: #f7f7f7; padding: 10px">OUR BELIEFS</span>
    </div>
  </div>
  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
      <ol>
        <li>THE BIBLE:
          We believe the Holy Scriptures of the Old and New Testament to be the inspired, inerrant, and
          infallible Word of God.</li>
        <li> GOD:
          We believe that there is one God, eternally existent in three persons; God the Father, God the
          Son, and God the Holy Spirit.</li>
        <li>
          REPENTANCE:
          We believe the only means to be saved from sin is through faith in Jesus Christ; His death,
          burial, and resurrection.</li>
        <li> SANCTIFICATION:
          We believe in a distinct moment of sanctification that commences an ongoing process of yielding
          to God’s Word and His Spirit in order to complete development of Christ’s character in us.</li>
        <li>
          HOLY SPIRIT:
          We believe in the baptism of the Holy Spirit as described in the Bible; it is the promise of the
          Father, to empower the life of the believer and the church. We believe the utterances of tongues
          to be the nominal occurrence of spirit baptism.</li>
        <li> HEALING:
          We believe the healing of the sick is illustrated in the life and ministry of Jesus, and included in
          the commission of Jesus to His disciples.</li>
        <li>  THE BLESSED HOPE:
          We believe in the blessed Hope, which is the rapture of the Church of God, which is in Christ, at
          His return.</li>
      </ol>
    </div>
  </div>
  <div class="bgimg-4">
    <div class="caption">
      <span class="border" style="background-color:transparent;font-size:40px;color: #f7f7f7; padding: 15px">OUR MISSION & VISION</span>
    </div>
  </div>
  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
     <p>Mission: The mission of New Birth Bible fellowship is to Save Souls, Change Lives, and Transform
       Communities.<br><br>
Vision: The vision of New Birth is to develop a multi-ethnic body of disciples, Saved, Sanctified, and Spirit Filled, prepared to execute the great commission through word and deed.
     </p>
    </div>
  </div>
</div>