<div class="container-fluid parallax" id="main">
  <div id="text-container">
    <h1>Our Story</h1>
    <div id="content">
        <p>New Birth began on the campus of North Carolina A&T State University, Greensboro NC, 2010 under the leadersihp of Brent Murphy. Commencing in Barbee Hall lounge, the group grew from 8 to 72 in a matter of a few weeks as they met on Sunday evenings for bible study. After a few monthsm the ministry stopped. <br><br>

      During the summer of 2011, God spoke to Pastor Murphy urging him to go back and put his hands to the plow. In November 2011 the ministry rekindled and took on the name; New Birth. This time the ministry not only offered bible study, but worship esperiences as well. Barbee Hall Lounge could no longer hold all of the people that were connecting with New Birth thus making a larger space necessary. Proctor Hall auditorium became the new gathering place of the ministry. <br><br>

      In 2016, Pastor Murphy, who had just graduated, prayed and fasted about what God was leading him to do with the ministry. Upon following the voice of God, he planted New Birth Campus Ministry as a new church. God led him to Raleigh, NC. On June 19, 2016 New Birth Bible Fellowship officially planted and launched in Raleigh, Nc.<br><br>

      Since the formation of New Birth, God has allowed numerous souls to be saved, changed, and trasnformed which still stands as the primary mission of our existence in Raleigh. We look to continue our efforts through outreach programs, community collaborations, worship, and scriptural teaching.</p>
       </div>
  </div>
</div>