@import url('https://fonts.googleapis.com/css?family=Cantata+One|Fjalla+One|Montserrat|Raleway');
/*.jumbotron{

    height: 100vh;
    width: 100%;*/
    /*text-align: center;*/
/*    color: white;
    background: linear-gradient(rgba(164,204,65, 1), rgba(164,204,65, 0.5)),
    url('../../../images/gallery/whattoexpect.jpg');
    background-size: 100% 100%;
    display: table;
    
}

.jumbotron h1{

    
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 500%;


}*/

.inside h2,.btn{
    
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 350%;

}

.row.expect{

    width: 100%;
    margin: 0px;
    text-align: center;

}

.wte,
.da,
.sunday,
.ns{

    width: 100%;
    display: table;
    height: 50vh;
    text-align: center;

}

.da,
.ns{

    color: white;
    background-color: #A4CC41;

}

/*.ns{

    margin-bottom: 2%;

}*/

.content{

    padding: 0;

}

.btn{

    background-color: #30292F;
    color: #A4CC41;
}

.inside{

    display: table-cell;
    vertical-align: middle;

}

.outside-table{

    display: table-cell;
    vertical-align: middle;
    

}

.inside p,.inside ul{

    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 120%;
    letter-spacing: .03em;
    line-height: 1.6em;

}

strong{

    color: #30292F;
}

/*@media only screen and (min-width : 992px) {
.jumbotron{

    background:*/ 
    /* top, transparent red, faked with gradient */ 
/*    linear-gradient(
      rgba(164,204,65, 1), 
      rgba(164,204,65, 0.5)
    ),*/
    /* bottom, image */
/*    url("../../../images/gallery/whattoexpectvid.gif");
    background-size: 100% 100%;


}
}*/

.video-parent{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.text-overlay{
    display: table;
    position: absolute;
    text-align: center;
    left: 0;
    z-index: 900;
    width: 100%;
    height: inherit;
    vertical-align: middle;
    background-color: rgba(47, 61, 123, 0.64);
    /* background-color: black; */
}

.text-overlay h1{
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-size: 600%;
}

img{

    animation-name: top-image;
    animation-duration: 2s;

}

.sqs-background-background{
    width: 100%;
    height:inherit;
    z-index:2 !important; 
    overflow: hidden;
}

@media only screen and (max-width : 992px) {
.sqs-video-background{

        display: none;

}

.video-parent{

    background-image: url("../../../images/gallery/whattoexpect.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 80vh;

}

.text-overlay{

        padding-top: 4%;
        

}
.text-overlay h1{

    font-size: 300%;

}

/*.inside{

    padding: 3%;

}*/
.inside h2{

    font-size: 175%;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
}

.inside ul,.inside p{

    padding-bottom: 5%;

}

.inside li{

    padding-bottom: 3%;

}

}