<!-- Start Nav Backed Header -->
  <!-- <div class="nav-backed-header parallax" style="background: #30292F;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">What to Expect</li>
          </ol>
        </div>
      </div>
    </div>
  </div> -->
  <!-- End Nav Backed Header --> 
  <!-- Start Page Header -->
  <!--<div class="jumbotron" >
    <div class="container outside-table">
      <h1><strong>We Love You</strong> Here</h1>
    </div>
  </div>-->
  <div class="video-parent">
    <div class="text-overlay"><h1>You Belong Here</h1></div>
      <div class="sqs-video-background">
        <!--<img class="custom-fallback-image" src="../../../images/gallery/camera.JPG">-->
    </div>
  </div>
  <!-- End Page Header --> 
  <!-- Start Content -->
  <div class="main" role="main">
    <div id="content" class="content full">
      <div class="container-fluid">
        <div class="row expect">
        <div class="wte">
          <div class="inside">
            <h2>What To Expect At New Birth?</h2>
            <p>At New Birth, you'll be welcomed into a loving, God-fearing environment by people who are excited to see you. We want you to have an idea of what to expect when you come to see us. All you have to do from here is come as you are and find out more for yourself!</p>
           
          </div>
        </div>

        <div class="da">
          <div class="inside">
            <h2>Dress/Attire?</h2>
            <p>Here, we just want you to show up!  Although we prefer that no offensive or sexually provocative attire is worn, we have no set dress code.  </p>
           
          </div>
        </div>

        <div class="sunday">
          <div class="inside">
            <h2>At a Sunday Morning service you can expect:</h2>
            <ul>
              <li>Each service to last about and hour and a half</li>
              <li>Very high-energy worship music (contemporary and traditional)</li>
              <li>Passionate and involved preaching</li>
              <li>Though provoking and convicting teaching from the Bible</li>
            </ul>
          </div>
        </div>

        <div class="ns">
          <div class="inside">
            <h2>We'll help you get to your next step through:</h2>
            <ul>
              <li><strong>Discipleship Coaches</strong> to do life with those who are new to the faith</li>
              <li><strong>Connection Partners</strong> that will help you serve in the church and be accountability for you</li>
              <li><strong>Small Groups</strong> that will keep it REAL with themselves and you as it pertains to the faith</li>
            </ul>
          </div>
        </div>
        <!--<a href="/coming-soon" class="btn" role="button">Plan My Visit!</a>-->
      </div>
    </div>
  </div>
  </div>