  <div class="video-parent">
    <div class="text-overlay"><h1><strong>God Wants To Use </strong>You</h1></div>
      <div class="sqs-video-background">
        <!--<img class="custom-fallback-image" src="../../../images/gallery/camera.JPG">-->
    </div>
  </div>
  <!-- End Page Header --> 
  <!-- Start Content -->
  <div class="main" role="main">
    <div id="content" class="content full">
      <div class="container-fluid">
        <div class="row ministries">
          <div class="across n"><div class="inside-across"><h2><strong>Nehemiah Ministry</strong></h2><p>This ministry is responsible for the assembling and breaking down of every service.  Whenever there is a need in the church that requires a little bit of muscle and hard work, the Nehemiah ministry is always ready to serve.</p></div></div>
          <div class="across c"><div class="inside-across"><h2><strong>Change For Change</strong></h2><p>Community outreach is a big deal here at New Birth.  So we collect change from the members and anyone who is willing to give so we can raise money for outreach events!  The volunteers of this would help collect, count, and plan the events that go with it.</p></div></div>
          <div class="across a"><div class="inside-across"><h2><strong>The Arts</strong></h2><p>Praise and Worship, Graphics, Multimedia and more fall into the arts at the church.  This is for the people who want to exercise that creative gene and give God the glory all in the same breath.  Everyone under this ministry serves to enhance the worship experience at New Birth during the week and on Sundays!</p></div></div>
          <div class="across t"><div class="inside-across"><h2><strong>Technology</strong></h2><p>We value having good tech at our church.  Whether it is the latest and greatest method of using cameras, or researching the newest coding languages, we value technology A LOT.  Please come and volunteer to use that great mind of yours to solve the church's next problem!</p></div></div>
          <div class="across h"><div class="inside-across"><h2><strong>Hospitality</strong></h2><p>Are you gifted with the ability to touch people with a simple smile?  Then our hospitality team needs you!  They serve to make sure that everyone is comfortable in the church.  From greeters to paritioners at our welcome table, you will be used!</p></div></div>
          <div class="across asc"><div class="inside-across"><h2><strong>Ascension</strong></h2><p>This is our ministry that currently reaches students at NC State, William Peace, Shaw, and Meridith college.  Click <a href="https://www.youtube.com">here</a> to learn more.</p></div></div>
          <a href="#" class="btn" role="button">I Want To Serve</a>
        </div>
      </div>
    </div>
  </div>