@import url('https://fonts.googleapis.com/css?family=Cantata+One|Fjalla+One|Montserrat|Raleway');

.video-parent{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.text-overlay{
    display: table;
    position: absolute;
    text-align: center;
    left: 0;
    z-index: 900;
    width: 100%;
    height: inherit;
    vertical-align: middle;
    background-color: rgba(48, 41, 47, 0.8);
    /* background-color: black; */
}

.text-overlay h1{
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-size: 600%;
}

.inside-across h2,.btn{
    
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 350%;

}

.jumbotron h1{

    
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 500%;


}

.content{

    padding: 0;

}

.outside-table{

    display: table-cell;
    vertical-align: middle;
    

}

.across{

    width: 100%;
    height: 50vh;
    display: table;
    text-align: center;

}

.across.c,.across.t,.across.asc{

    background-color: #30292F;
    color: white;

}

.across.c h2,.across.t h2,.across.asc h2{

    color: #A4CC41;

}

.asc a{

    color: #A4CC41;
    text-decoration: none; 

}

/*.asc{

    margin-bottom: 2%;

}*/

.inside-across{

    display: table-cell;
    vertical-align: middle;

}

.inside-across p{

    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 120%;
    letter-spacing: .03em;
    line-height: 1.6em;

}

.row.ministries{

    width: 100%;
    text-align: center;
    margin: 0px;

}

.btn{

    background-color: #30292F;
}

strong,.btn{

    color: #A4CC41;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.sqs-video-background{

        display: none;

}

.video-parent{

    background-image: url("../../../images/gallery/evan5.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 80vh;

}

.text-overlay{

        padding-top: 4%;
        

}
.text-overlay h1{

    font-size: 300%;

}

.inside-across h2{

    font-size: 175%;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
}

.inside-across ul,.inside-across p{

    padding-bottom: 5%;

}

.inside-across li{

    padding-bottom: 3%;

}
}

/*.sqs-background-background{
    width: 100%;
    height:inherit;
    z-index:2 !important; 
    overflow: hidden;
}*/