<div class="container-fluid parallax" id="main">
  <div id="outer-text">  
  <div id="text-container">
    <h1>Mission & Vision</h1>
    <div id="content">
        <h3>Mission</h3>
        <p>The mission of New Birth Bible fellowship is to Save Souls, Change Lives, and Transform
       Communities.</p>
       <h3>Vision</h3>
       <p>The vision of New Birth is to develop a multi-ethnic body of disciples, Saved, Sanctified, and Spirit Filled, prepared to execute the great commission through word and deed.</p>
      </div>
  </div>

    <div id="text-container">
    <h1>Our Story</h1>
    <div id="content">
        <p>New Birth began on the campus of North Carolina A&T State University, Greensboro NC, 2010 under the leadership of Brent Murphy. Commencing in Barbee Hall lounge, the group grew from 8 to 72 in a matter of a few weeks as they met on Sunday evenings for Bible study. After a few months, the ministry stopped.<br><br>

      During the summer of 2011, God spoke to Pastor Murphy urging him to go back and put his hands to the plow. In November 2011 the ministry rekindled and took on the name; New Birth. This time the ministry not only offered bible study, but worship experiences as well. Barbee Hall Lounge could no longer hold all of the people that were connecting with New Birth thus making a larger space necessary. Proctor Hall auditorium became the new gathering place of the ministry. <br><br>

      In 2016, Pastor Murphy, who had just graduated, prayed and fasted about what God was leading him to do with the ministry. Upon following the voice of God, he planted New Birth Campus Ministry as a new church. God led him to Raleigh, NC. On June 19, 2016, New Birth Bible Fellowship officially planted and launched in Raleigh, NC.<br><br>

      Since the formation of New Birth, God has allowed numerous souls to be saved, changed, and transformed which still stands as the primary mission of our existence in Raleigh. We look to continue our efforts through outreach programs, community collaborations, worship, and Scriptural teaching.</p>
       </div>
  </div>

  <div id="text-container">
    <h1>Our Beliefs</h1>
    <div id="content">
        <h3>THE BIBLE</h3><p>
          We believe the Holy Scriptures of the Old and New Testament to be the inspired, inerrant, and
          infallible Word of God.</p>
        <h3> GOD</h3><p>
          We believe that there is one God, eternally existent in three persons; God the Father, God the
          Son, and God the Holy Spirit.</p>
        <h3>
          REPENTANCE</h3><p>
          We believe the only means to be saved from sin is through faith in Jesus Christ; His death,
          burial, and resurrection.</p>
        <h3> SANCTIFICATION</h3><p>
          We believe in a distinct moment of sanctification that commences an ongoing process of yielding
          to God’s Word and His Spirit in order to complete development of Christ’s character in us.</p>
        <h3>
          HOLY SPIRIT</h3><p>
          We believe in the baptism of the Holy Spirit as described in the Bible; it is the promise of the
          Father, to empower the life of the believer and the church. We believe the utterances of tongues
          to be the nominal occurrence of spirit baptism.</p>
        <h3> HEALING</h3><p>
          We believe the healing of the sick is illustrated in the life and ministry of Jesus, and included in
          the commission of Jesus to His disciples.</p>
        <h3>  THE BLESSED HOPE</h3><p>
          We believe in the blessed Hope, which is the rapture of the Church of God, which is in Christ, at
          His return.</p>
      </div>
  </div>
</div>
</div>