<div class="container-fluid parallax" id="main">
  <div id="text-container">
    <h1>Mission & Vision</h1>
    <div id="content">
        <h3>Mission</h3>
        <p>The mission of New Birth Bible fellowship is to Save Souls, Change Lives, and Transform
       Communities.</p>
       <h3>Vision</h3>
       <p>The vision of New Birth is to develop a multi-ethnic body of disciples, Saved, Sanctified, and Spirit Filled, prepared to execute the great commission through word and deed.</p>
      </div>
  </div>
</div>